.container_order {
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  max-height: calc(100vh - 4rem);
}



/* Order */
.order {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: calc(100vh - 10rem);
  overflow-y: scroll;
}

.product_order_card {
  background-color: #fff;
  border-left: 1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product_order_card_title {
  font-size: 2rem;
  color: #666666;
}

.label {
  font-weight: bold;
  color: #9a9a9a;
}

.quantity {
  font-weight: bold;
}

.between {
  display: flex;
  justify-content: space-between;
}

.container_order_footer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.divider {
  height: 0.1rem;
  background-color: #e2e2e2;
}
